
<%= form_for [@post, @post.comments.build] do |c| %>
  <%= c.text_area :content, size: "44x10" %>
  <%= c.hidden_field :user_id, value: current_user.id %>
  <%= c.submit "Create" %>
<% end %>
 <div id="serch_bar">
    <input id="search" type="" name="" value="">
    <button id="load">LOAD</button>
    <button id="butnext">NEXT</button>
    <button id="shuf">SHUF</button>
    <button id="back">BACK</button>
</div>